<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/bugtracker</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/bugtracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="bug_trackerEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="bug_tracker.Models.bug_trackerEntities, bug_tracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="bug_trackerEntities (bug_tracker)" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="xpoprovider=MSSqlServer;data source=.\SQL2019;initial catalog=bug_tracker;user id=sa;password=1qaz@wsx;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\bug_trackerEntities (bug_tracker)_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="xpoprovider=MSSqlServer;data source=.\SQL2019;initial catalog=bug_tracker;user id=sa;password=1qaz@wsx;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="localhost_bug_tracker_Connection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="XpoProvider=MSSqlServer;data source=LAPTOP-C8HFCDNG\SQL2019;user id=sa;password=1qaz@wsx;initial catalog=bug_tracker;Persist Security Info=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\localhost_bug_tracker_Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="XpoProvider=MSSqlServer;data source=LAPTOP-C8HFCDNG\SQL2019;user id=sa;password=1qaz@wsx;initial catalog=bug_tracker;Persist Security Info=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bug_trackerEntities (bug_tracker)-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bug_trackerEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)localhost_bug_tracker_Connection-Web.config Connection String" />
  </ItemGroup>
</Project>